POSTGRES_USER=novatech
POSTGRES_DB=novatech
POSTGRES_PASSWORD=
APP_ENV=development
API_PORT=8000
LOG_LEVEL=INFO
APP_VERSION=0.1.0
SECRET_KEY=
JWT_EXPIRATION=60
DATABASE_NAME=novatech
DATABASE_USER=novatech
DATABASE_PASSWORD=
DB_POOL_MIN=1
DB_POOL_MAX=5
